[submodule "drupal-ios-sdk"]
	path = drupal-ios-sdk
	url = git@github.com:workhabitinc/drupal-ios-sdk.git
[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = git://github.com/matej/MBProgressHUD.git
